AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev

NEXT_PUBLIC_CONSUMER_API_URL="http://localhost:8090"
NEXT_PUBLIC_USE_PROTOCOL="true"
NEXT_PUBLIC_RELAY_URL="ws://localhost:8888/ws"
NEXT_PUBLIC_JOB_REGISTRY_ADDRESS="0xA51c1fc2f0D1a1b8494Ed1FE312d7C3a78Ed91C0"
NEXT_PUBLIC_AI_CONFIG_ADDRESS="0x8A791620dd6260079BF849Dc5567aDC3F2FdC318"
