AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev

NEXT_PUBLIC_CONSUMER_API_URL="http://localhost:8090"
NEXT_PUBLIC_USE_PROTOCOL="true"
NEXT_PUBLIC_RELAY_URL="ws://localhost:8888/ws"
NEXT_PUBLIC_JOB_REGISTRY_ADDRESS="0x62C01304e05a336fDAf478C7Be255F5297d8dC69"
NEXT_PUBLIC_AI_CONFIG_ADDRESS="0x49392B2f285Ab77f77a7B61545B128A13D1CCCC9"
NEXT_PUBLIC_WORKER_REGISTRY_ADDRESS="0x34BA0f8c7b658d69f3F7A947ca4d0A9FB5779E91"
